<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ticket</title>
</head>

  <body>
    <h2>Ticket</h2>

    <p>{{ticket.total}}</p>
  </body>

</html>
